@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:600,700);

body {
  background-color: #E7EBF2;
  color: #224687;
  font-family: 'Roboto Slab',"Areal", sans-serif;
}
h1 {
  text-align: center;
  color: #2ABFD4;
}
h2 {
  text-align: center;
  color: #2ABFD4;
}
.clearfix {
  clear: both;
}
.container {
  width: 630px;
  overflow: auto;
  margin: 40px 10px 10px 200px;
  background: #224687;
  padding-bottom: 40px;
  border-radius: 10px;
  float: left;
}
.sidebar {
  width: 300px;
  height: 650px;
  margin: 40px 10px;
  background: #224687;
  color: #2ABFD4;
  padding-bottom: 40px;
  border-radius: 10px;
  float: left;
}
.sidebar ol {
  background: #2ABFD4;
  color: #224687;
  overflow: scroll;
  height :560px;
  margin: 30px;
  border-radius: 5px;
}
.board li {
  list-style: none;
  float: left;
  /*display: inline-block;*/
  margin: 10px;
  height: 73px;
  width: 73px;
  font-size: 55px;
  background-color: #2ABFD4;
  color: transparent;
  border-radius: 5px;
  text-align: center;
}
.board li:hover, #reset:hover, #hint:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: transparent;
}
.board li:active {
  background-color: #FFFFFF;
  color: #224687;
}
#reset {
  border: 0;
  background: #2ABFD4;
  color: #ffffff;
  width: 40%;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  ;
}
#hint {
  border: 0;
  background: #2ABFD4;
  color: #ffffff;
  width: 45%;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
}

#music {
  border: 0;
  background: #2ABFD4;
  color: #ffffff;
  width: 45%;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
}
footer {
  display: block;
  text-align: center;
  padding-top: 20px;
}
.board li.matched {
  background-color: #FFFFFF !important;
  color: #2ABFD4 !important;
}

/*main menu code ( may not be implemented in the final game)*/

.logo{
  margin-top: 100px;
}
.title{
  margin-top: 80px;
  font-size: 4em;
}

.main-menu{
background-color: #224687;
 width: 600px;
 margin:140px auto;
 height:430px;
 border-radius: 5px;
}
